@media (max-width: 1070px) {
  /* Header */
  .header__logo {
    font-size: 38px;
  }
  .header__list li {
    font-size: 14px;
  }
  .header__body{
    height: 60px;
  }
  .home{
    margin-top: 60px;
  }
  /* Header-End */
}
@media (max-width: 991.98px) {
  /* Header */

  /* Header-End */
}
@media (max-width: 930px) {
  /* Header */
  .header__logo {
    font-size: 32px;
  }
  .header__list li {
    font-size: 12px;
  }
  .header__body {
    height: 50px;
  }
  .home {
    margin-top: 50px;
  }

  /* Header-End */
}
@media (max-width: 860px) {
  /* Header */
  .header__logo {
    font-size: 20px;
  }
  .header__list li {
    font-size: 11px;
  }

  /* Header-End */
}
@media (max-width: 768px) {
  /* Header-burger */
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    font-size: 32px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #444444;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.5s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #444444;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(-135deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(135deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    transition: all 0.5s;
    top: -100%;
    left: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    background-image: url(../img/burger-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.95;
    /* background-color: #fff; */
    padding: 70px 10px 20px 20px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
  .header__link {
    font-size: 24px;
    color: #fff;
  }
  .home {
    margin-top: 50px;
  }
  /* Header-burgerEnd */

  /* Team */
  .button-arrow-prev,
  .button-arrow-next {
    top: 0;
  }

  .team {
    height: 650px;
  }
  .team__inner-title {
    padding-top: 70px;
  }
  .team__inner-slog {
    margin-bottom: 63px;
  }

  /* Team-End */
}

@media (max-width: 321px) {
  /* Header-burger */
  .header__logo {
    font-size: 30px;
  }
  .header__link {
    font-size: 18px;
  }
  /* Header-burgerEnd */
}
@media (min-width: 768px) {
  /* Home */
  .home {
    padding: 100px 0;
  }
  /* Home End */

  /* Order */
  .order {
    padding: 100px 10px;
  }
  .order-title {
    font-size: 48px;
    margin-bottom: 26px;
  }
  .form-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 24px;
  }
  .form-item:nth-child(2n-1) {
    margin-right: 30px;
  }
  /* Order End */
}

@media (min-width: 960px) {
  /* Home */
  .home {
    padding: 300px 0 200px;
  }
  .home-title {
    margin-bottom: 70px;
    font-size: 50px;
    padding: 0 50px;
  }
  /* Home End */

  /* Order */
  .order {
    padding: 140px 5px 100px;
  }
  .order-container {
    width: 60%;
    margin: 0 auto;
  }
  .order-title {
    font-size: 60px;
    margin-bottom: 36px;
  }
  .order-description {
    font-size: 18px;
    margin-bottom: 70px;
  }
  /* Order End */
}

/* Begin======================== Work Steps and Why Select Us ============================= vdobrydin */

@media (max-width: 767.98px) {
  .block .numb {
    font-size: 150%;
  }

  .block .title_bl {
    font-size: 120%;
  }

  .ws_content .block {
    padding: 1%;
    width: 43%;
  }

  .ws_content .text_blocks {
    top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .block .numb {
    font-size: 190%;
  }

  .block .title_bl {
    font-size: 150%;
  }

  .ws_content .text_blocks {
    top: 0;
  }
}
/* End======================== Work Steps and Why Select Us ============================= vdobrydin */
