@media (max-width: 960px) {
  .header__menu-btn {
    display: block;
  }
}
@media (min-width: 768px) {
  /* Home */
  .home {
    padding: 100px 0;
  }
  .home-container {
    align-items: flex-end;
  }
  .home-title {
    font-size: 48px;
    line-height: 85px;
  }
  .home-button {
    width: 60%;
  }
  /* Home End */

  /* Order */
  .order {
    padding: 100px 10px;
  }
  .order-title {
    font-size: 48px;
    margin-bottom: 26px;
  }
  .form-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 24px;
  }
  .form-item:nth-child(2n-1) {
    margin-right: 30px;
  }
  /* Order End */
}

@media (min-width: 960px) {
  /* Home */
  .home {
    padding: 230px 0;
  }
  .home-title {
    margin-bottom: 70px;
    font-size: 60px;
    text-align: left;
  }
  .home-title span {
    margin-left: 80px;
  }
  /* Home End */

  /* Order */
  .order {
    padding: 140px 5px 100px;
  }
  .order-container {
    width: 60%;
    margin: 0 auto;
  }
  .order-title {
    font-size: 60px;
    margin-bottom: 36px;
  }
  .order-description {
    font-size: 18px;
    margin-bottom: 70px;
  }
  /* Order End */
}
