@media (max-width: 1070px) {
  /* Header */
  .header__logo {
    font-size: 38px;
  }
  .header__list li {
    font-size: 14px;
  }
  .header__body{
    height: 60px;
  }
  .home{
    margin-top: 60px;
  }
  /* Header-End */
}
@media (max-width: 959px) {
  /* Header */
  
  /* Header-End */

  /* Team */

.team {
  height: 720px;
}
.team__inner-title {
    padding-top: 100px;
    margin-bottom: 100px;
}
  /* Team-End */

}

@media (max-width: 950px) {
  /* AboutUs */
	.about__left {
		width: 70%;
	}

	.about__right {
		margin-left: -30%;
		width: 70%;
		margin-bottom: -60%;
	}

	.about__right__container {
		padding: 20px;
	}
/* AboutUs-End */
/* OurFocus */
	.focus {
		padding: 50px 0;
	}

	.focus__top p {
		margin-bottom: 20px;
	}

	.focus__bottom {
	display: flex;
		flex-wrap: wrap;
	}

	.focus__bottom-item {
		width: 44%;
		margin-bottom: 20px;
		margin-right: 3%;
		margin-left: 3%;
	}
	.focus__bottom-item:last-child{
		margin-right: 3%;
		margin-left: 3%;
  }
  /* OurFocus-End */
}


@media (max-width: 930px) {
  /* Header */
  .header__logo {
    font-size: 32px;
  }
  .header__list li {
    font-size: 12px;
  }
  .header__body {
    height: 50px;
  }
  .home {
    margin-top: 50px;
  }

  /* Header-End */
}
@media (max-width: 860px) {
  /* Header */
  .header__logo {
    font-size: 20px;
  }
  .header__list li {
    font-size: 11px;
  }

  /* Header-End */
}
@media (max-width: 768px) {
  /* Header-burger */
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    font-size: 32px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #444444;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.5s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #444444;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(-135deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(135deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    transition: all 0.5s;
    top: -100%;
    left: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    background-image: url(../img/burger-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.95;
    /* background-color: #fff; */
    padding: 70px 10px 20px 20px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
  .header__link {
    font-size: 24px;
    color: #fff;
  }
  .home {
    margin-top: 50px;
  }
  /* Header-burgerEnd */

  /* Team */
 
  .team {
    height: 650px;
  }
  .team__inner-title {
    padding-top: 70px;
  }
  .slick-arrow {
    display: none;
  }

  /* Team-End */
}

@media (max-width: 321px) {
  /* Header-burger */
  .header__logo {
    font-size: 30px;
  }
  .header__link {
    font-size: 18px;
  }
  /* Header-burgerEnd */
}
@media (min-width: 768px) {
  /* Home */
  .home {
    padding: 180px 0 130px;
  }
  /* Home End */

  /* Order */
  .order {
    padding: 50px 10px;
  }
  .order-title {
    font-size: 48px;
    margin-bottom: 26px;
  }
  .order-description {
    margin-bottom: 30px;
  }
  .form-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 24px;
  }
  .form-item:nth-child(2n-1) {
    margin-right: 30px;
  }
  /* Order End */
}

@media (min-width: 960px) {
  /* Home */
  .home {
    padding: 300px 0 200px;
  }
  .home-title {
    margin-bottom: 90px;
    font-size: 50px;
    padding: 0 50px;
  }
  /* Home End */

  /* Order */
  .order {
    padding: 140px 5px 100px;
  }
  .order-container {
    width: 66%;
    margin: 0 auto;
  }
  .order-title {
    font-size: 60px;
    margin-bottom: 36px;
  }
  .order-description {
    font-size: 18px;
    margin-bottom: 70px;
  }
  .form-message{
    margin-bottom: 50px;
  }
  /* Order End */
}

/* Begin======================== Work Steps and Why Select Us ============================= vdobrydin */
/*
@media (max-width: 768px) {
  .ws_content .wrap_tb {
	  padding: 10% 0;
  }
  
  
}*/

@media (min-width: 768px) and (max-width: 991.98px) {
  
  
  }
  
  @media (max-width: 991.98px) {

  .block .title_bl {
    font-size: 150%;
	word-wrap: normal;
  }  
	  
	.ws_content {
	background-size: 100% auto; 
  }
  
  .centBlock {
	float: none;
	clear: both !important;
    margin: 0 auto !important;  
  }
  
  .ws_content .text_blocks {
    top: 0;
  }
  
  .ws_content {
	background-image: none;
  }
  
  .ws_content .block {
    width: 55%;
  }
  
  .ws_content .wrap_tb {
	  background-repeat: no-repeat;
	  background-size: 100% auto; 
	  padding: 15% 0;
  }
  
  
  .ws_content .wrap_tb.bg1 {
	  background-image: url("../img/workSt_1.jpg");
  }
  
  .ws_content .wrap_tb.bg2 {
	  background-image: url("../img/workSt_2.jpg");
  }
  
  .ws_content .wrap_tb.bg3 {
	  background-image: url("../img/workSt_3.jpg");
  }
  
  .ws_content .wrap_tb.bg4 {
	  background-image: url("../img/workSt_4.jpg");
  }
  
  .why_content .blockW {
    width: 40%;
  }
  
}

@media (max-width: 768px) {
  .ws_content .wrap_tb {
    padding: 5% 0;
  }
}
/* End======================== Work Steps and Why Select Us ============================= vdobrydin */
