@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
:root {
  --color-focus-red: #fc5f45;
  --color-focus-green: #38c695;
  --color-focus-purple: #b480f5;
  --color-focus-orange: #feb960;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* ========================================  */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
/* =====================================  */

body {
  font-family: "Verdana", sans-serif;
  line-height: 27px;
  font-size: 15px;
}
a {
  color: #666666;
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ======Header===== */
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.header__logo a,
.footer__logo a {
  color: #0252d4;
  font-size: 36px;
  /* font-family: "Lithos", sans-serif; */
  font-weight: 900;
}
.header__logo a span,
.footer__logo span {
  color: #f0ba00;
  font-weight: 900;
}

.header__menu li + li {
  margin-left: 25px;
}
/* ======Header-End===== */

/* ======Home===== */
.home {
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  box-sizing: border-box;
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.home-title {
  font-size: 36px;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

.home-title span {
  display: block;
}

.home-button {
  width: 100%;
  display: flex;
}

.started {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 17px 22px;
  background-color: #fc5f45;
  height: 56px;
  border-radius: calc((18px + 17px * 2) / 2);
  margin: 0 auto;
  justify-self: center;
  transition: background-color 0.7s;
  outline: none;
}

.started:hover {
  background-color: #ff3615;
}

.started:active {
  background-color: #e22203;
}
/* ======Home-End===== */

/* ======Order===== */
.order {
  background-image: url("../img/getInTouch.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 10px;
  box-sizing: border-box;
}

.order-container {
  width: 94%;
  margin: 0 3%;
  position: relative;
}

.order-title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.order-description {
  font-size: 16px;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
}

.order form {
  font-size: 0;
  text-align: center;
  color: #666666;
}

.form-item,
.form-message {
  padding: 14px 0;
  text-align: center;
  border-radius: 4px;
  outline: none;
  border: 2px solid transparent;
  color: #666666;
  font-size: 16px;
}
.form-item::placeholder,
.form-message::placeholder {
  color: #b6b2b2;
}
.error-input {
  border: 2px solid red;
}

.form-item:focus,
.form-message:focus {
  border: 2px solid #666666;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #666666;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 174, 255, 0.04) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(0, 174, 255, 0.03) 100%
  );
}

.form-item {
  width: 100%;
  margin-bottom: 24px;
}

.form-message {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}

.button {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 18px 30px;
  background-color: #fc5f45;
  height: 56px;
  border: none;
  border-radius: calc(56px / 2);
  margin: 0 auto;
  justify-self: center;
  transition: background-color 0.7s;
  outline: none;
}

.button:hover {
  background-color: #ff3615;
}

.button:active {
  background-color: #e22203;
}

/* ======Order-End===== */
/*----------------------- ABOUT -----------------------------IFENKIUL*/
.about {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 150px 0;
}
.about__left {
  display: block;
  height: 700px;
  background-color: transparent;
  align-items: center;
  border: 15px solid #cccccc;
}
.about__right {
  background-color: white;
  width: 60%;
  height: 550px;
  margin-left: -50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  box-shadow: 5px -5px 15px gray;
}
.about__right__container {
  box-sizing: border-box;
  width: 100%;
  height: 548px;
  font-size: 24px;
  padding: 50px 20px;
  display: flex;
}
.about__right__container-text {
  font-family: "Noto Sans KR", sans-serif;
  align-self: center;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}
.about__right__container-text h2 {
  font-size: 40px;
  padding-bottom: 30px;
}
.about__right__rainbow {
  align-self: flex-end;
  width: 100%;
  height: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about__right__rainbow div:nth-child(1) {
  background-color: var(--color-focus-red);
}
.about__right__rainbow div:nth-child(2) {
  background-color: var(--color-focus-green);
}
.about__right__rainbow div:nth-child(3) {
  background-color: var(--color-focus-purple);
}
.about__right__rainbow div:nth-child(4) {
  background-color: var(--color-focus-orange);
}
/*----------------------- ABOUT -----------------------------IFENKIUL*/

/*------------------------ FOCUS----------------------------- IFENKIUL*/
.focus {
  width: 100%;
  background-color: #c7c7c7;
  height: 750px;
  font-family: "Noto Sans KR", sans-serif;
}
.focus__top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.focus__top__container {
  text-align: center;
}
.focus__top__container h2 {
  font-size: 40px;
  padding-bottom: 20px;
}
.focus__top__container p {
  font-size: 18px;
  color: gray;
  font-weight: normal;
}
.focus__bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -50px;
}
.focus__bottom-item {
  width: 250px;
  height: 300px;
  background-color: white;
  text-align: center;
  margin: 0 10px;
  display: flex;
  justify-content: center;
}
.focus__bottom-item div {
  margin-top: 30px;
  width: 100%;
}
.focus__bottom-item div h3 {
  font-size: 26px;
  padding-bottom: 15px;
}
.focus__bottom-item div p {
  color: gray;
  font-size: 16px;
}

.focus__bottom-item.first {
  border-bottom: 2px solid var(--color-focus-red);
}
.focus__bottom-item.second {
  border-bottom: 2px solid var(--color-focus-green);
}
.focus__bottom-item.third {
  border-bottom: 2px solid var(--color-focus-purple);
}
.focus__bottom-item.forth {
  border-bottom: 2px solid var(--color-focus-orange);
}

/*------------------------ FOCUS----------------------------- IFENKIUL*/

/* ======Footer===== */

.footer__inner {
  text-align: center;
  height: 80px;
  padding-top: 25px;
}
.footer__inner-logo {
  font-size: 24px;
  line-height: 27px;
  color: #666666;
}
/* ======Footer-End===== */
