@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

:root {
  --color-focus-red: #fc5f45;
  --color-focus-green: #38c695;
  --color-focus-purple: #b480f5;
  --color-focus-orange: #feb960;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ========================================  */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

/* =====================================  */

body {
  font-family: "Montserrat", sans-serif;
  line-height: 27px;
  font-size: 15px;
}

a {
  color: #999999;
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* li {
  display: inline-block;
} */
.container,
#select .container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 15px;
}
.header .container,
.footer .container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.worksteps .container{
  padding: 30px 15px 16px;
}
@media (min-width: 768px) {
  .container,
  #select .container{
    padding: 60px 15px;
  }
  .about .container{
    padding-bottom: 90px;
  }
  .worksteps .container{
    padding: 60px 15px;
  }
}
@media (min-width: 960px) {
  .worksteps .container{
    padding: 60px 15px 30px;
  }
  #select .container{
    padding: 60px 15px;
  }
}
@media (min-width: 1050px) {
  .worksteps .container{
    padding: 60px 15px;
  }
}

.title{
  font-size: 30px;
  line-height: 1;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .title{
    font-size: 36px;
  }
}
@media (min-width: 960px) {
  .title{
    font-size: 60px;
  }
}
/* ======Header===== */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #fff; IFENKIUL 7.07.2020*/
  background-color: rgba(255, 255, 255, 0.9); /*IFENKIUL 7.07.2020 */
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}

.header__list {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  position: relative;
  z-index: 2;
}

.about__right__rainbow.header__list--rainbow {
  display: none;
}

.header__list li {
  position: relative;
  /* margin-left: 25px; */
  padding-left: 14px;
}

.header__list li + li::before {
  content: "|";
  color: #999999;
  position: absolute;
  left: 5px;
}

.header__list a {
  transition: all 0.5s;
}

.header__list a:hover {
  color: #333333;
}

.header__logo {
  color: #40649b;
  font-size: 48px;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 3;
}
.changeLang {
  display: flex;
  z-index: 3;
}
.changeLang select {
  border: 1px solid #ccc;
  background-color: #999;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
  width: 100%;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.header__link.selected {
  color: #40649b;
}
.header__burger {
  display: none;
}

/* ======Header-End===== */

/* ======Home===== */
.home {
  background-image: url(../img/compressed//testBlur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  box-sizing: border-box;
  margin-top: 75px;
}
.home-backIm {
  animation: blurImage 0.8s ease-in-out;
  background-image: url("../img/home.png");
}

@media screen and (max-width: 991.98px) {
  .home-backIm {
    background-image: url(../img/compressed/home-min.png);
  }
}
@keyframes blurImage {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.home-title {
  font-size: 20px;
  line-height: 72px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.home-button {
  width: 100%;
  display: flex;
  cursor: pointer;
}

.started {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px;
  background-image: linear-gradient(
    to right,
    #f5af19 0%,
    #f12711 45%,
    #f12711 55%,
    #f5af19 100%
  );
  background-size: 200% auto;
  border: none;
  border-radius: calc(47px / 2);
  margin: 0 auto;
  transition: background 0.7s;
  outline: none;
}

.started:hover,
.started:focus {
  background-position: right center;
}

.started:active {
  background-color: #e22203;
}

/* ======Home-End===== */

/*----------------------- ABOUT -----------------------------IFENKIUL*/
.about {
  /*padding: 25px 0;*/
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  background-color: transparent;
  background-image: url("../img/aboutUs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 15px solid #cccccc;
}
@media screen and (max-width: 991.98px) {
  .about__left {
    background-image: url(../img/compressed/aboutUs-min.png);
  }
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.about__right__container {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 15px gray;
  box-shadow: 5px 5px 15px gray;
  width: 100%;
  font-size: 24px;
  padding: 25px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.about__right__container-text {
  font-size: 15px;
  font-weight: 400;
  color: #616161;
  line-height: 30px;
}

.about__right__container-text h2 {
  /*font-size: 25px;*/
  margin-bottom: 20px;
  color: #313131;
  font-weight: 400;
}

.about__right__container-text p {
  margin-bottom: 20px;
}

.about__right__container-text p:last-child {
  margin-bottom: 0;
}

.about__right__rainbow {
  align-self: flex-end;
  width: 100%;
  height: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about__right__rainbow div:nth-child(1) {
  background-color: var(--color-focus-red);
}

.about__right__rainbow div:nth-child(2) {
  background-color: var(--color-focus-green);
}

.about__right__rainbow div:nth-child(3) {
  background-color: var(--color-focus-purple);
}

.about__right__rainbow div:nth-child(4) {
  background-color: var(--color-focus-orange);
}

/*----------------------- ABOUT END-----------------------------IFENKIUL*/

/*------------------------ FOCUS----------------------------- IFENKIUL*/
.focus {
  background-color: #f7f7f7;
  /*padding: 25px 0;*/
}

.focus__top {
  text-align: center;
}

.focus__top h2 {
  /*font-size: 25px;*/
  font-weight: 400;
  margin-bottom: 15px;
  color: #313131;
}

.focus__top p {
  font-size: 100%;
  font-weight: 400;
  color: #616161;
  margin-bottom: 20px;
}

.focus__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.focus__bottom-item {
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
  padding: 20px 40px 40px;
}

.focus__bottom-item h3 {
  font-size: 135%;
  font-weight: 400;
  margin-bottom: 15px;
  color: #616161;
  margin-top: 15px;
}

.focus__bottom-item p {
  color: #616161;
  font-weight: 400;
  font-size: 100%;
}

.focus__bottom-photo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.focus__bottom-photo img {
  height: 40px;
  margin: 0 auto;
}

.focus__bottom-item.first {
  border-bottom: 2px solid var(--color-focus-red);
}

.focus__bottom-item.second {
  border-bottom: 2px solid var(--color-focus-green);
}

.focus__bottom-item.third {
  border-bottom: 2px solid var(--color-focus-purple);
}

.focus__bottom-item.forth {
  border-bottom: 2px solid var(--color-focus-orange);
  margin-bottom: 0;
}

/*------------------------ FOCUS----------------------------- IFENKIUL*/
/* ======Team===== */
.team {
}
.team__inner {
  align-items: center;
  text-align: center;
}
.team__inner-title {
  margin-bottom: 50px;
  color: #313131;
}

/* .team__inner-slog {
  font-size: 18px;
  color: #616161;
  margin-bottom: 220px;
} */
.slider__team {
  /* max-width: 1060px; */
  margin: 0 auto;
  padding: 0 40px;
}
.slick-track {
  display: flex;
}
.slider__team-item {
  text-align: center;
}
.slider__team-foto {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
}
.slider__team-foto img {
  align-items: center;
  border-radius: 50%;
}
.slider__team-name-red {
  color: var(--color-focus-red);
}
.slider__team-name-green {
  color: var(--color-focus-green);
}
.slider__team-name-purple {
  color: var(--color-focus-purple);
}
.slider__team-name-orange {
  color: var(--color-focus-orange);
}
.slider__team-name {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 15px;
}
.slider__team-position {
  color: #616161;
  font-size: 13px;
  text-transform: uppercase;
}
.slick-arrow {
  position: relative;
}
.slick-arrow:before {
  display: none;
}
button {
  outline: none;
}
.button-arrow-prev {
  background-image: url(../img/team/arrow-left.png);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  border: none;
  outline: none;
  height: 48px;
  width: 45px;
  left: 10px;
  bottom: 175px;
  cursor: pointer;
  /* padding-left: 26px; */
}
.button-arrow-next {
  background-image: url(../img/team/arrow-right.png);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  border: none;
  outline: none;
  height: 48px;
  width: 45px;
  bottom: 175px;
  right: -10px;
  margin: 0;
  cursor: pointer;
}

/* ======Team-End===== */

/* Begin======================== Work Steps and Why Select Us ============================= vdobrydin */

.worksteps {
  text-align: center;
}

.bg_grey_fon {
  background-color: #f7f7f7;
}

.worksteps h2 {
  color: #313131;
  font-weight: normal;
}

.worksteps p {
  margin: 1% 0;
  color: #616161;
  font-size: 120%;
}

.ws_content {
  margin-top: 5%;
  background-image: url("../img/workSteps-all.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 50% auto;
}

.ws_content .img_cont {
  width: 41%;
  margin: auto auto;
  line-height: 0;
}

.img_cont img {
  width: 100%;
}

.ws_content .text_blocks {
  position: relative;
  top: -33px;
}

.ws_content .block {
  width: 40%;
  background-color: white;
  padding: 5% 3% 5% 3%;
  margin: 5% 0;
}
.wrap_tb:last-child .block{
  margin-bottom: 0;
}

.block .numb {
  font-size: 320%;
  color: #e0e0e0;
}

.block .title_bl {
  font-size: 175%;
  width: 76%;
  text-align: left;
}

.block .descr {
  width: 75%;
  text-align: left;
  margin-top: 4%;
  color: #616161;
}

.b_red {
  border-bottom: 3px solid #fc5f45;
}

.b_green {
  border-bottom: 3px solid #38c695;
}

.b_blue {
  border-bottom: 3px solid #b27cf5;
}

.b_orange {
  border-bottom: 3px solid #feb960;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.why_content {
  margin: auto auto;
}

.why_content .blockW {
  display: inline-block;
  width: 28%;
  min-width: 230px;
  padding: 15px;
}

.blockW .icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  top: 5px;
}

.blockW .titleW {
  display: inline-block;
  font-size: 120%;
  text-align: left;
  float: left;
  margin-left: 15px;
}

.blockW .descrW {
  color: #616161;
  text-align: left;
  margin-top: 18px;
}

.bgBsn {
  background: url("../img/icon_business.png") no-repeat;
}

.bgUnl {
  background: url("../img/icon_unlimited.png") no-repeat;
}

.bgUlt {
  background: url("../img/icon_ultimate.png") no-repeat;
}

.bgSmr {
  background: url("../img/icon_smart.png") no-repeat;
}

.bgStr {
  background: url("../img/icon_strict.png") no-repeat;
}

.bgAwr {
  background: url("../img/icon_award.png") no-repeat;
}

.wrap_tb img {
  display: none;
}
/* End======================== Work Steps and Why Select Us ============================= vdobrydin */

/* ======Order-GetinTouch===== */
.order {
  background-image: url("../img/getInTouch.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px 0;
  box-sizing: border-box;
}
@media screen and (max-width: 991.98px) {
  .order {
    background-image: url("../img/compressed/getInTouch-min.png");
  }
}

.order-container {
  width: 94%;
  margin: 0 3%;
  position: relative;
}

.order-title {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.order-description {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.order form {
  font-size: 0;
  text-align: center;
  color: #666666;
}

.sent form {
  display: none;
}

.sent .form-sent {
  display: block;
}

.form-sent {
  display: none;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px;
  transform: skewX(25deg);
}

.form-sent span {
  transform: skewX(-25deg);
  display: block;
}

.form-item,
.form-message {
  padding: 14px 0;
  text-align: center;
  border-radius: 4px;
  outline: none;
  border: 2px solid transparent;
  color: #666666;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.form-item::placeholder,
.form-message::placeholder {
  color: #b6b2b2;
}
.form-item-container {
  position: relative;
  margin-bottom: 24px;
}
.form-item-container.message {
  margin-bottom: 12px;
}
.d-none {
  display: none;
}
.error-input-add {
  position: absolute;
  display: none;
  font-size: 12px;
  background-color: red;
  right: 0;
  left: 0;
  top: calc(100% - 17px);
  color: white;
  border-radius: 0 0 4px 4px;
}
.error-input:not(:focus) + .error-input-add {
  display: block;
}
.message .error-input-add {
  top: calc(100% - 42px);
}
.error-input {
  border: 2px solid red;
}

.error-form {
  color: red;
  padding-bottom: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.form-item:focus,
.form-message:focus {
  border: 2px solid #191970;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #666666;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 174, 255, 0.04) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(0, 174, 255, 0.03) 100%
  );
}

.form-item {
  width: 100%;
}
.form-message {
  width: 100%;
  height: 200px;
}

.order .button {
  font-size: 16px;
  line-height: 27px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px;
  background-image: linear-gradient(
    to right,
    #f5af19 0%,
    #f12711 45%,
    #f12711 55%,
    #f5af19 100%
  );
  background-size: 200% auto;
  border: none;
  border-radius: calc(47px / 2);
  margin: 0 auto;
  transition: background 0.7s;
  outline: none;
  cursor: pointer;
}

.order .button:hover,
.order .button:focus {
  background-position: right center;
}

.order .button:active {
  background-color: #e22203;
}

/* ======Order-GetinTouch-End===== */
/* ======Footer===== */

.footer__inner {
  text-align: center;
  padding: 15px 0;
}

.footer__inner-logo {
  font-size: 14px;
  line-height: 27px;
  color: #666666;
}
.footer__inner-logo a:hover,
.footer__inner-logo a:focus {
  color: #444444;
}
.footer__inner-logo a:active {
  color: #111111;
}

/* ======Footer-End===== */
