@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

:root {
	--color-focus-red: #fc5f45;
	--color-focus-green: #38c695;
	--color-focus-purple: #b480f5;
	--color-focus-orange: #feb960;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* ========================================  */
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

/* =====================================  */

body {
	font-family: "Poppins", sans-serif;
	line-height: 27px;
	font-size: 15px;
}

a {
	color: #666666;
	display: inline-block;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* li {
  display: inline-block;
} */
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

/* ======Header===== */

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 2;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 75px;
	align-items: center;
}

.header__list {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	display: flex;
	position: relative;
	z-index: 2;
}

.about__right__rainbow.header__list--rainbow{
	display: none;
}

.header__list li {
	position: relative;
	/* margin-left: 25px; */
	padding-left: 14px;
}

.header__list li + li::before {
	content: "|";
	position: absolute;
	left: 5px;
}

.header__list a {
	transition: all 0.5s;
}

.header__list a:hover {
  color: #444444;
}

.header__logo {
	color: #40649b;
	font-size: 48px;
	font-family: "Orbitron", sans-serif;
	font-weight: 400;
	position: relative;
	z-index: 3;
}
.header__link.selected{
  color: #111111;
}
.header__burger {
	display: none;
}

/* ======Header-End===== */

/* ======Home===== */
.home {
	background-image: url("../img/home.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 50px 0 60px;
	box-sizing: border-box;
	margin-top: 75px;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.home-title {
	font-size: 36px;
	line-height: 72px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 50px;
	text-align: center;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.home-button {
	width: 100%;
	display: flex;
	cursor: pointer;
}

.started {
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 20px;
	background-image: linear-gradient(to right, #f5af19 0%, #f12711 45%, #f12711 55%, #f5af19 100%);
	background-size: 200% auto;
	border: none;
	border-radius: calc(47px / 2);
	margin: 0 auto;
	transition: background 0.7s;
	outline: none;
}

.started:hover,
.started:focus {
	background-position: right center;
}

.started:active {
	background-color: #e22203;
}

/* ======Home-End===== */

/*----------------------- ABOUT -----------------------------IFENKIUL*/
.about {
	padding: 100px 0 150px;
}

.about__row {
	display: flex;
}

.about__left {
	display: flex;
	width: 50%;
	height: 700px;
	background-color: transparent;
	background-image: url("../img/aboutUs.png");
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	border: 15px solid #cccccc;
}

.about__right {
	display: flex;
	flex-direction: column;
	width: 55%;
	justify-content: center;
	margin-left: -5%;
	text-align: left;
}

.about__right__container {
	background-color: #ffffff;
	box-sizing: border-box;
	box-shadow: 5px -5px 15px gray;
	width: 100%;
	font-size: 24px;
	padding: 90px 60px;
	display: flex;
}

.about__right__container-text {
	font-size: 15px;
	font-weight: 400;
	color: #616161;
	line-height: 30px;
}

.about__right__container-text h2 {
	font-size: 400%;
	padding-bottom: 30px;
	color: #313131;
	font-weight: 400;
}

.about__right__container-text p {
	margin-bottom: 20px;
}

.about__right__container-text p:last-child {
	margin-bottom: 0;
}

.about__right__rainbow {
	align-self: flex-end;
	width: 100%;
	height: 2px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about__right__rainbow div:nth-child(1) {
	background-color: var(--color-focus-red);
}

.about__right__rainbow div:nth-child(2) {
	background-color: var(--color-focus-green);
}

.about__right__rainbow div:nth-child(3) {
	background-color: var(--color-focus-purple);
}

.about__right__rainbow div:nth-child(4) {
	background-color: var(--color-focus-orange);
}

/*----------------------- ABOUT -----------------------------IFENKIUL*/

/*------------------------ FOCUS----------------------------- IFENKIUL*/
.focus {
	background-color: #f7f7f7;
	padding: 140px 0;
}

.focus__top {
	text-align: center;
}

.focus__top h2 {
	font-size: 400%;
	font-weight: 400;
	padding-bottom: 30px;
	color: #313131;
}

.focus__top p {
	font-size: 120%;
	font-weight: 400;
	color: #616161;
	margin-bottom: 70px;
}

.focus__bottom {
	display: flex;
	justify-content: space-between;
}

.focus__bottom-item {
	background-color: white;
	text-align: center;
	margin-right: 20px;
	padding: 60px 20px 40px;
}
.focus__bottom-item:last-child{
	margin-right: 0;
}

.focus__bottom-item h3 {
	font-size: 135%;
	font-weight: 400;
	padding-bottom: 30px;
	color: #616161;
	margin-top: 15px;
}

.focus__bottom-item p {
	color: #616161;
	font-weight: 400;
	font-size: 100%;
}
.focus__bottom-photo {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: flex-end;
	margin: 0 auto;
}

.focus__bottom-item.first {
	border-bottom: 2px solid var(--color-focus-red);
}

.focus__bottom-item.second {
	border-bottom: 2px solid var(--color-focus-green);
}

.focus__bottom-item.third {
	border-bottom: 2px solid var(--color-focus-purple);
}

.focus__bottom-item.forth {
	border-bottom: 2px solid var(--color-focus-orange);
}

/*------------------------ FOCUS----------------------------- IFENKIUL*/
/* ======Team===== */
.team {
	height: 784px;
}

.team__inner {
	align-items: center;
	text-align: center;
}

.team__inner-title {
	padding-top: 115px;
	font-size: 60px;
	line-height: 80px;
	margin-bottom: 185px;
}

/* .team__inner-slog {
  font-size: 18px;
  color: #616161;
  margin-bottom: 220px;
} */
.slider__team {
	/* max-width: 1060px; */
	margin: 0 auto;
	padding: 0 40px;
}

.slider__team-item {
	text-align: center;
}

.slider__team-foto {
	width: 200px;
	height: 200px;
	margin: 0 auto 20px;
}

.slider__team-foto img {
	align-items: center;
	border-radius: 50%;
}

.slider__team-name-red {
	color: var(--color-focus-red);
}

.slider__team-name-green {
	color: var(--color-focus-green);
}

.slider__team-name-purple {
	color: var(--color-focus-purple);
}

.slider__team-name-orange {
	color: var(--color-focus-orange);
}

.slider__team-name {
	text-transform: uppercase;
	font-size: 17px;
	line-height: 21px;
	margin-bottom: 15px;
}

.slider__team-position {
	color: #616161;
	font-size: 13px;
	text-transform: uppercase;
}

.slick-arrow {
	position: relative;
}

.slick-arrow:before {
	display: none;
}

button {
	outline: none;
}

.button-arrow-prev {
	background-image: url(../img/team/arrow-left.png);
	background-repeat: no-repeat;
	background-color: transparent;
	position: absolute;
	border: none;
	outline: none;
	height: 48px;
	width: 45px;
	left: 10px;
	bottom: 175px;
	/* padding-left: 26px; */
}

.button-arrow-next {
	background-image: url(../img/team/arrow-right.png);
	background-repeat: no-repeat;
	background-color: transparent;
	position: absolute;
	border: none;
	outline: none;
	height: 48px;
	width: 45px;
	bottom: 175px;
	right: -10px;
	margin: 0;
}

/* ======Team-End===== */

/* Begin======================== Work Steps and Why Select Us ============================= vdobrydin */

.worksteps {
	text-align: center;
	padding-top: 7%;
	padding-bottom: 7%;
}

.bg_grey_fon {
	background-color: #f7f7f7;
}

.worksteps h2 {
	font-size: 380%;
	line-height: 1.2;
	color: #313131;
	font-weight: normal;
}

.worksteps p {
	margin: 1% 0;
	color: #616161;
	font-size: 120%;
}

.ws_content {
	margin-top: 5%;
	background-image: url("../img/workSteps-all.jpg");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	background-size: 50% auto;
}

.ws_content .img_cont {
	width: 41%;
	margin: auto auto;
	line-height: 0;
}

.img_cont img {
	width: 100%;
}

.ws_content .text_blocks {
	position: relative;
	top: -33px;
}


.ws_content .block {
	width: 40%;
	background-color: white;
	padding: 5% 3% 5% 3%;
	margin: 5% 0;
}

.block .numb {
	font-size: 320%;
	color: #e0e0e0;
}

.block .title_bl {
	font-size: 175%;
	width: 76%;
	text-align: left;
}

.block .descr {
	width: 75%;
	text-align: left;
	margin-top: 4%;
	color: #616161;
}

.b_red {
	border-bottom: 3px solid #fc5f45;
}

.b_green {
	border-bottom: 3px solid #38c695;
}

.b_blue {
	border-bottom: 3px solid #b27cf5;
}

.b_orange {
	border-bottom: 3px solid #feb960;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.why_content {
	margin: auto auto;
}

.why_content .blockW {
	display: inline-block;
	width: 28%;
	min-width: 230px;
	padding: 15px;
}

.blockW .icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
	top: 5px;
}

.blockW .titleW {
	display: inline-block;
	font-size: 120%;
	text-align: left;
	float: left;
	margin-left: 15px;
}

.blockW .descrW {
	color: #616161;
	text-align: left;
	margin-top: 18px;
}

.bgBsn {
	background: url("../img/icon_business.png") no-repeat;
}

.bgUnl {
	background: url("../img/icon_unlimited.png") no-repeat;
}

.bgUlt {
	background: url("../img/icon_ultimate.png") no-repeat;
}

.bgSmr {
	background: url("../img/icon_smart.png") no-repeat;
}

.bgStr {
	background: url("../img/icon_strict.png") no-repeat;
}

.bgAwr {
	background: url("../img/icon_award.png") no-repeat;
}

/* End======================== Work Steps and Why Select Us ============================= vdobrydin */

/* ======Order-GetinTouch===== */
.order {
	background-image: url("../img/getInTouch.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 50px 10px;
	box-sizing: border-box;
}

.order-container {
	width: 94%;
	margin: 0 3%;
	position: relative;
}

.order-title {
	color: #fff;
	font-size: 36px;
	margin-bottom: 20px;
	text-align: center;
}

.order-description {
	font-size: 16px;
	margin-bottom: 30px;
	text-align: center;
	color: #fff;
}

.order form {
	font-size: 0;
	text-align: center;
	color: #666666;
}

.sent form {
	display: none;
}

.sent .form-sent {
	display: block;
}

.form-sent {
	display: none;
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border: 1px solid #fff;
	padding: 20px;
	transform: skewX(25deg);
}

.form-sent span {
	transform: skewX(-25deg);
	display: block;
}

.form-item,
.form-message {
	padding: 14px 0;
	text-align: center;
	border-radius: 4px;
	outline: none;
	border: 2px solid transparent;
	color: #666666;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}

.form-item::placeholder,
.form-message::placeholder {
	color: #b6b2b2;
}
.form-item-container{
	position: relative;
	margin-bottom: 24px;
}
.error-input-add{
	position: absolute;
	display: none;
	font-size: 12px;
	background-color: red;
	right: 0;
	left: 0;
	top: calc(100% - 17px);
	color: white;
	border-radius: 0 0 4px 4px;
}
.error-input:not(:focus) + .error-input-add{
	display: block;
}
.message .error-input-add{
	top: calc(100% - 42px);
}
.error-input {
	border: 2px solid red;
}

.error-form {
	color: red;
	padding-bottom: 10px;
	text-align: center;
}

.hidden {
	display: none;
}

.form-item:focus,
.form-message:focus {
	border: 2px solid #191970;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: #666666;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
	background: -webkit-linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0%,
			rgba(0, 174, 255, 0.04) 50%,
			rgba(255, 255, 255, 0) 51%,
			rgba(0, 174, 255, 0.03) 100%
	);
}

.form-item {
	width: 100%;

}
.form-message {
	width: 100%;
	height: 200px;
}

.order .button {
	font-size: 16px;
	line-height: 27px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 20px;
	background-image: linear-gradient(to right, #f5af19 0%, #f12711 45%, #f12711 55%, #f5af19 100%);
	background-size: 200% auto;
	border: none;
	border-radius: calc(47px / 2);
	margin: 0 auto;
	transition: background 0.7s;
	outline: none;
	cursor: pointer;
}

.order .button:hover,
.order .button:focus {
	background-position: right center;
}

.order .button:active {
	background-color: #e22203;
}

/* ======Order-GetinTouch-End===== */
/* ======Footer===== */

.footer__inner {
	text-align: center;
	padding: 15px 0;
}

.footer__inner-logo {
	font-size: 14px;
	line-height: 27px;
	color: #666666;
}
.footer__inner-logo a:hover,
.footer__inner-logo a:focus{
	color: #444444;
}
.footer__inner-logo a:active{
	color: #111111;
}

/* ======Footer-End===== */